/* post css를 쓸때, 파일명에 .module을 써 줘야 한다. */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #132f52;
  padding: 8px;
}
.header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}

.nav a {
  padding: 0 10px;
}
